:root {
  --simple-font: Arial, Helvetica, sans-serif;
  --dark-sand: #d3a95c;
  --light-sand: #e7d9b9;
  --battleship-gray: #6f7476;
  --light-blue: #4984b8;
  --dark-blue: #221188;
  --resort-sunrise: #f4d7c5;
  --hint-of-red: #f6dfe0;
  --gameboard-size: 450px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--simple-font);
}

.home-battleship {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-container {
  flex-grow: 1;
  background-color: var(--light-blue);
  color: var(--light-sand);
  display: flex;
  align-items: center;
}

.player1-container,
.player2-container {
  flex-grow: 1;
  text-align: center;
}

.player1-gameboard-container,
.player2-gameboard-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.player1-gameboard,
.player2-gameboard {
  background-color: var(--resort-sunrise);
  width: var(--gameboard-size);
  height: var(--gameboard-size);
}

.player1-ships-container,
.player2-ships-container {
  background-color: var(--hint-of-red);
  height: var(--gameboard-size);
  flex: 1;
  border-radius: 15px;
}

.player2-ships-container {
  order: 2;
}

.missile-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container,
.footer-container {
  background-color: var(--dark-sand);
  color: var(--hint-of-red);
  padding: 1rem;
  text-align: center;
}

.footer-container {
  padding: 0.5rem;
}