:root {
  --simple-font: Arial, Helvetica, sans-serif;
  --dark-sand: #d3a95c;
  --light-sand: #e7d9b9;
  --battleship-gray: #6f7476;
  --light-blue: #4984b8;
  --dark-blue: #221188;
  --resort-sunrise: #f4d7c5;
  --hint-of-red: #f6dfe0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--simple-font);
}

.home-battleship {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-container {
  flex-grow: 1;
  background-color: var(--light-blue);
  display: flex;
}

.player1-container,
.player2-container {
  flex-grow: 1;
}

.missile-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container,
.footer-container {
  background-color: var(--dark-sand);
  color: var(--hint-of-red);
  padding: 1rem;
  text-align: center;
}

.footer-container {
  padding: 0.5rem;
}