:root {
  --simple-font: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--simple-font);
}

.home-battleship {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body-container {
  flex-grow: 1;
}